.navbar {
    display: flex;
    justify-content: space-between;
    background-color: sandybrown;
    padding: 15px;
    margin: 10px;
    align-items: center;
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    width: 70cm;
}

.liststyle {
    margin-left: 0.5cm;
}

.homelist {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 1.5cm;
}

.hometitle {
    display: flex;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    background-color: darkseagreen;
}

.greetings {
    text-align: center;
}

.linkword{
    font-family: fantasy;
    font-size: 13px;
}